body{
    background-color:#ffffff;
    font-size:100%;
}
#maintitlebackground{
    margin-top:50px;
    height:300px;
    background-color:rgba(0, 0, 0, 0.82);
    animation:fadeIn 2s;
	-webkit-animation:fadeIn 2s;
}
#maintitle{
    padding-top:75px;
    letter-spacing:100px;
    text-align:center;
    font-family:STKaiti;
    font-size:5em;
    color:#ffffff;
}
#specialinfos{
    padding-top:50px;
    padding-right:175px;
    text-align:right;
    word-spacing:85px;
    color:#ffffff;
    font-family:sans-serif;
    font-size:1.25em;
}
#classify{
    margin-left:auto;
	margin-right: auto;
    width:1030px;
    height:500px;
    background-color:#ffffff;
}
#list{
	float:left;
	width:200px;
	height:500px;
}
#ceil{
	float: left;
	width: 800px;
	height: 35px;
	margin-left: 10px;
	margin-top: 15px;
	background-image: url(https://tjrar.github.io/TJR.github.io/img/ceil.png);
}
.postdiv{
    float:left;
    width:800px;
    height:150px;
	margin-left:10px;
    padding-top:25px;
    padding-left:15px;
    animation:fadeIn 2s;
	animation-delay: 1s;
	-webkit-animation:fadeIn 2s;
	-webkit-animation-delay: 1s;
    background-image:url(https://tjrar.github.io/TJR.github.io/img/postdiv.png);
    background-repeat:no-repeat;
}
.family{
	float: left;
	width: 200px;
	height: 124px;
	padding-left: 15px;
	padding-top: 15px;
	animation: fadeIn 2s;
	animation-delay: 2s;
	-webkit-animation: fadeIn 2s;
	-webkit-animation-delay: 2s;
}
@keyframes fadeIn{
    from{opacity:0}
    to{opacity:1}
}
    @-webkit-keyframes fadeIn{
		from{opacity:0}
		to{opacity:1}
	}
