body{
    background-color:#ffffff;
    font-size:100%;
}
#maintitlebackground{
    margin-top:50px;
    height:300px;
    background-color:rgba(0, 0, 0, 0.82);
    animation:MTBG 2s;
	-webkit-animation:MTBG 2s;
}
#maintitle{
    padding-top:75px;
    letter-spacing:100px;
    text-align:center;
    font-family:STKaiti;
    font-size:5em;
    color:#ffffff;
    animation:MT 2s;
	-webkit-animation:MT 2s;
}
#specialinfos{
    padding-top:50px;
    padding-right:175px;
    text-align:right;
    word-spacing:85px;
    color:#ffffff;
    font-family:sans-serif;
    font-size:1.25em;
}
#classify{
    margin-left:auto;
	margin-right: auto;
    width:1030px;
    height:500px;
    background-color:#ffffff;
}
#list{
	float:left;
	width:200px;
	height:500px;
}
.table{
    float:left;
    width:400px;
    height:247px;
    margin-top:15px;
    padding-top:25px;
    padding-left:15px;
    animation:TB 2s;
	-webkit-animation:TB 2s;
    background-image:url(https://tjrar.github.io/TJR.github.io/img/table.png);
    background-repeat:no-repeat;
}
@keyframes MTBG{
    from{background-color:#ffffff}
    to{background-color:rgba(0, 0, 0, 0.82)}
}
    @-webkit-keyframes MTBG{
	  from{background-color:#ffffff}
	  to{background-color:rgba(0, 0, 0, 0.82)}
    }
@keyframes MT{
    from{color:#ffe4c4}
    to{color:#ffffff}
} 
    @-webkit-keyframes MT{
		from{color:#ffe4c4}
		to{color:#ffffff}
	}
@keyframes TB{
    from{margin-top:0px;opacity:0}
    to{margin-top:15px;opacity:1}
}
    @-webkit-keyframes TB{
		from{margin-top:0px;opacity:0}
		to{margin-top:15px;opacity:1}
	}
