body{
    background-color:#ffe4c4;
    font-size:100%;
}
#maintitlebackground{
    margin-top:50px;
    height:300px;
    background-color:#463f36;
    animation:MTBG 2s;
}
#maintitle{
    padding-top:75px;
    letter-spacing:100px;
    text-align:center;
    font-family:STKaiti;
    font-size:5em;
    color:#ffffff;
    animation:MT 2s;
}
#specialinfos{
    padding-top:50px;
    padding-right:175px;
    text-align:right;
    word-spacing:85px;
    color:#ffffff;
    font-family:sans-serif;
    font-size:1.25em;
}
#classify{
    margin:auto;
    width:830px;
    height:500px;
    background-color:#ffe4c4;
}
.table-1{
    float:left;
    width:400px;
    height:247px;
    padding-top:35px;
    padding-left:10px;
    animation:TB 1s;
    background-image:url(https://tjrar.github.io/TJR.github.io/img/table.png);
}
.table-2{
    float:left;
    width:400px;
    height:247px;
    padding-top:35px;
    padding-left:10px;
    animation:TB 1s;
}
@keyframes MTBG{
    from{background-color:#ffe4c4}
    to{background-color:#463f36}
}
@keyframes MT{
    from{color:#ffe4c4}
    to{color:#ffffff}
} 
@keyframes TB{
    from{color:#ffe4c4;padding-top:25px}
    to{color:#000000;padding-top:35px}
}
